rules_version = '2';

// 1. Grant public read access to all files.
// 2. Grant write access to an image file if the user is an admin,
//    the file is smaller than 10MB, and the file is an image.
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return exists(/databases/(default)/documents/users/$(request.auth.uid))
          && get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /{allPaths=**} {
      allow read: if true;
    }
    
    match /activities/{allPaths=**} {
      allow write: if request.auth != null && isAdmin()
                   && request.resource.size < 10 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}
